<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.snail.flinghoverlayout">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.snail.flinghoverlayout.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.snail.flinghoverlayout.activity.FragmentTabHostSlidingLayoutActivity"/>
        <activity android:name="com.snail.flinghoverlayout.activity.ViewPagerlidingLayoutActivity"/>
        <activity android:name="com.snail.flinghoverlayout.activity.DragListViewActivity"/>
        <activity android:name="com.snail.flinghoverlayout.activity.DragWebViewActivity"/>
        <activity android:name="com.snail.flinghoverlayout.activity.DragWebViewListActivity"/>
        <service android:name="com.snail.flinghoverlayout.service.BackGroundService"/>
    </application>
</manifest>